<!DOCTYPE html>
<html>
<head>
  <title>WebsiteBuilderEngine</title>
  <%= stylesheet_link_tag    "website_builder_engine/application" %>
  <%= javascript_include_tag "website_builder_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
